<div class="card__action">
   
    <form action="/cart" method="POST">
        <input type="hidden" name="item_id_cartejs" value="<%= products.id %>">
        <button class="btn" type="submit">Add to Cart</button>
    </form>
</div>